APP_NAME=order-management
APP_ENV=development
APP_PORT=8080

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=order_management
DATABASE_SSLMODE=disable

DATABASE_MAX_OPEN_CONNS=25
DATABASE_MAX_IDLE_CONNS=10
DATABASE_CONN_MAX_LIFETIME=30m
DATABASE_CONN_MAX_IDLE_TIME=5m

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_ACCESS_SECRET=change-this-access-secret
JWT_REFRESH_SECRET=change-this-refresh-secret

ACCESS_TOKEN_EXPIRE=15m
REFRESH_TOKEN_EXPIRE=168h

WORKER_COUNT=4

LOG_LEVEL=info
